<div>
    <h2>Nuova richiesta di Appuntamento</h2>
    <h4>AwesHome - Utente ${body.codice}</h4>
    <p>L'utente ha richiesto un nuovo apuntamento.</p>
</div>
<div>
    <table>
        <thead>
            <tr>
                <td width="150"></td>
                <td width="300"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Contatto Utente</td>
                <td>${loggedUser.name}</td>
            </tr>
            <tr>
                <td>Codice Utente</td>
                <td>${body.codice}</td>
            </tr>
            <tr>
                <td>Indirizzo</td>
                <td>${body.indirizzo}</td>
            </tr>
            <tr>
                <td>Data e ora</td>
                <td>${body.data} alle ${body.ora}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>